.imageContainer{
  border-radius: 50%;
}

.imageContainer img{
  border-radius: 50%;
  width: 10vw;

}

.content{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
  padding: 20px;
}

.card{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.desc{
  width: 60%;
}

.btn{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}