.gridDiv{
  display: grid;
  grid-template-columns: repeat(3 , 250px);
  grid-template-rows: repeat(3, 200px);
  gap:  6px 10px;
  width: 700px;
  margin: auto;
  margin-top: 10vh;
}
.imageDiv{
object-fit: cover;
}
.imageDiv img{
  width: 100%;
  height: 100%;
}
.two{
  grid-row: 1/3;
  grid-column: 2/3;
}
.seven{
  grid-column: 2/4;
}
.oneImageTo{
  width: 250px;
  height: 200px;
  object-fit: fill;
}