button{
    height: 30px;
    width: 110px;
    margin: 10px;

}
button:hover{
    /* transform:scale(1.1); */
    /* transform: translateY(2.2); */
    transform: rotateZ(15deg);
  transition: all 1.5s ease;
  font-size: 18px;
  cursor: pointer;
}