.menubar{
 /* border: 2px solid black; */
display: flex;
flex-direction: column;
gap: 2px;
display: none;
}
.link{
  display: flex;

  width: 40%;
  justify-content: space-evenly;
}
.link p{
   cursor: pointer;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
 .menubar .bar1{
  height: 4px;
  width: 20px;
  background-color: black;
  border-radius: 10px;
}